In [1]:
import csv
import pandas as pd

## Read metadata

In [24]:
novel_metadata = pd.read_csv('PDNC-Novel-Index.csv')

In [25]:
novel_metadata

,Novel Code,Novel Title,Narrative Person,Narrator Gender (M/F/A/U),Author Code,Translator Code,Format of First Publication,Format of Annotated Novel,Year of First Publication,Year of First English Translation,Original Book Publisher (first English publisher for translations),City of First Publication,Country of First Publication,Genre,Source,Annotators,Folder Name
0,AHOD,A Handful Of Dust,3.0,U,WAUG,NaN,Serial,Book,1934.0,1934,Chapman and Hall,London,United Kingdom,literary,https://www.gutenberg.ca/ebooks/waughe-handful...,"Beck, Sanghoon",AHandfulOfDust
1,PASS,A Passage to India,3.0,U,FORS,NaN,Book,Book,1924.0,1924,Edward Arnold Publishers Ltd,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/61221,"Jovana, Alanna",NaN
2,ROOM,A Room With A View,3.0,U,FORS,NaN,Book,Book,1908.0,1908,Edward Arnold Publishers Ltd,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/2641,"Jovana, Sanghoon",ARoomWithAView
3,ALIC,Alice’s Adventures in Wonderland,3.0,U,CARR,NaN,Book,Book,1865.0,1865,Macmillan,London,United Kingdom,children,https://www.gutenberg.org/ebooks/928,"Beck, Leah",AlicesAdventuresInWonderland
4,ANNE,Anne Of Green Gables,3.0,U,MONT,NaN,Book,Book,1908.0,1908,L.C. Page & Company,Boston,United States,children,https://www.gutenberg.org/ebooks/45,"Jovana, Leah",AnneOfGreenGables
5,DAIS,Daisy Miller,1.0,M,JAME,NaN,Book,Book,1878.0,1878,The Cornhill Magazine,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/208,"Bisman, Jovana",DaisyMiller
6,EMMA,Emma,3.0,A,AUST,NaN,Book,Book,1815.0,1815,John Murray,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/158,"Bisman, Jovana",Emma
7,HARD,Hard Times,3.0,U,DICK,NaN,Serial,Book,1854.0,1854,bradbury & Evans,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/786,"Alanna, Sanghoon",NaN
8,HOWA,Howards End,3.0,M,FORS,NaN,Book,Book,1910.0,1910,Edward Arnold Publishers Ltd,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/2946,"Beck, Jovana",HowardsEnd
9,MANS,Mansfield Park,3.0,A,AUST,NaN,Book,Book,1814.0,1814,Thomas Egerton,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/141,"Sanghoon, Alexander",NaN
10,NIDA,Night and Day,3.0,U,WOOL,NaN,Book,Book,1919.0,1919,Gerald Duckworth and Company,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/1245,"Leah, Sanghoon",NightAndDay
11,NOAB,Northanger Abbey,3.0,A,AUST,NaN,Book,Book,1817.0,1817,John Murray,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/121,"Alanna, Beck",NorthangerAbbey
12,PERS,Persuasion,3.0,A,AUST,NaN,Book,Book,1817.0,1817,John Murray,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/105,"Sanghoon, Sol",Persuasion
13,PRPR,Pride and Prejudice,3.0,A,AUST,NaN,Book,Book,1813.0,1813,Thomas Egerton,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/1342,"Beck, Sanghoon, Leah, Jovana",PrideAndPrejudice
14,SESE,Sense and Sensibility,3.0,A,AUST,NaN,Book,Book,1811.0,1811,Thomas Egerton,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/161,"Leah, Sofia",SenseAndSensibility
15,INNO,The Age of Innocence,3.0,U,WHAR,NaN,Serial,Book,1920.0,1920,D. Appleton & Company,New York,United States,literary,https://www.gutenberg.org/ebooks/541,"Sanghoon, Sol",TheAgeOfInnocence
16,AWAK,The Awakening,3.0,U,CHOP,NaN,Book,Book,1899.0,1899,Herbert S. Stone & Company,"Chicago, New York",United States,literary,https://www.gutenberg.org/ebooks/160,"Bisman, Jovana",TheAwakening
17,GAMB,The Gambler,1.0,M,DOST,HOGA,Book,Book,1866.0,1887,Fyodor Timofeyevich Stellovsky,St. Petersberg?,Russian Empire,literary,https://www.gutenberg.org/ebooks/2197,"Alanna, Beck",TheGambler
18,INVI,The Invisible Man,3.0,U,WELL,NaN,Serial,Book,1897.0,1897,C. Arthur Pearson Ltd,London,United Kingdom,scifi,https://www.gutenberg.org/ebooks/5230,"Beck, Leah",TheInvisibleMan
19,MWWT,The Man Who Was Thursday,3.0,U,CHES,NaN,Book,Book,1908.0,1908,J. W. Arrowsmith Ltd,Bristol,United Kingdom,literary,https://www.gutenberg.org/ebooks/1695,"Alanna, Beck",TheManWhoWasThursday
20,MAAS,The Mysterious Affair At Styles,1.0,M,CHRI,NaN,Book,Book,1921.0,1921,The Bodley Head,London,United Kingdom,crime,https://www.gutenberg.org/ebooks/863,"Leah, Beck",TheMysteriousAffairAtStyles
21,DOGR,The Picture Of Dorian Gray,3.0,U,WILD,NaN,Serial,Book,1890.0,1891,"Ward, Lock & Co",London,United Kingdom,literary,https://www.gutenberg.org/ebooks/174,"Leah, Sofia",ThePictureOfDorianGray
22,FOUR,The Sign of the Four,1.0,M,DOYL,NaN,Serial,Book,1891.0,1891,Spencer Blackett,London,United Kingdom,crime,https://www.gutenberg.org/ebooks/2097,"Jovana, Leah",TheSignOfTheFour
23,SPOR,The Sport of the Gods,3.0,U,DUNB,NaN,Book,Book,1902.0,1902,"Dodd, Mead and Company",New York,United States,literary,https://www.gutenberg.org/ebooks/17854,"Leah, Sanghoon",TheSportOfTheGods
24,TSAR,The Sun Also Rises,1.0,M,HEMI,NaN,Book,Book,1926.0,1926,Scribner's,New York,United States,literary,https://www.gutenberg.org/ebooks/67138,"Bisman, Jovana",TheSunAlsoRises
25,ANGE,Where Angels Fear to Tread,1.0,U,FORS,NaN,Book,Book,1905.0,1905,William Blackwood and Sons,Edinburgh,United Kingdom,literary,https://www.gutenberg.org/ebooks/2948,"Alanna, Diana",NaN
26,POOH,Winnie-The-Pooh,1.0,M,MILN,NaN,Serial,Book,1926.0,1926,"Dutton; Methuen & Company, Ltd",London; Boston,United States; United Kingdon,children,https://www.gutenberg.org/ebooks/67098,"Sanghoon, Alanna",NaN
27,OLIV,Oliver Twist,3.0,U,DICK,NaN,Serial,Book,1838.0,1838,Richard Bentley,London,United Kingdom,literary,https://www.gutenberg.org/ebooks/730,"Alex, Diana",NaN

In [26]:
author_metadata = pd.read_csv('PDNC-Author-Index.csv')

In [27]:
author_metadata

,Author Code,Surname(s),Given Name(s),Sex,Date of Birth (YYYY-MM-DD),Country of Birth,City/Town of Birth and state/province,Date of Death (YYYY-MM-DD),Country of Death,City/Town of Death,Nationality/ies,VIAF
0,AUST,Austen,Jane,F,1775-12-16,"England, United Kingdm","Steventon, Hampshire",1817-07-18,England,"Winchester, Oxfordshire","British, English",NaN
1,CARR,Carroll,Lewis,M,1832-01-27,"England, United Kingdm","Daresby, Cheshire",1898-01-14,"England, United Kingdom","Guildford, Surrey","British, English",NaN
2,CHES,Chesterton,Gilbert Keith,M,1874-05-29,"England, United Kingdm","Kensington, London",1936-06-14,"England, United Kingdom","Beaconsfield, Buckingham","British, English",NaN
3,CHOP,Chopin,Kate,F,1851-02-08,United States,"St. Louis, Missouri",1904-08-22,United States,"St.Louis, Missouri",American,NaN
4,CHRI,Christie,Agatha,F,1890-09-15,"England, United Kingdm","Torquay, Devon",1976-01-12,"England, United Kingdom","Winterbrook, Oxfordshire","British, English",NaN
5,DICK,Dickens,Charles,M,1812-02-07,"England, United Kingdom","Landport, Portsmouth, Hampshire",1870-06-09,"England, United Kingdom","Higham, Kent","British, English",NaN
6,DOST,Dostoevsky,Fyodor Mikhailovich,M,1821-11-11,Russia,Moscow,1881-02-09,Russia,St. Petersburg,Russian,NaN
7,DOYL,Doyle,Arthur Conan,M,1859-05-22,"Scotland, United Kingdom",Edinburgh,1903-07-07,"England, United Kingdom","Crowborough, East Sussex",Scottish,NaN
8,DUNB,Dunbar,Paul Laurence,M,1872-06-27,United States,"Dayton, Ohio",1906-01-09,United States,"Dayton, Ohio",American,NaN
9,FORS,Forster,Edward Morgan,M,1879-01-01,"England, United Kingdom","Marylebone, Middlesex",1970-06-07,"England, United Kingdom","Coventry, Warwickshire","British, English",NaN
10,HEMI,Hemingway,Ernest,M,1899-07-21,United States,"Oak Park, Illinois",1961-07-02,United States,"Ketchum, Idaho",American,NaN
11,HOGA,Hogarth,Charles James,M,1869-12-07,"England, United Kingdom",Surrey,1945-04-05,"England, United Kingdom","Scarborough, North Yorkshire","British, English",NaN
12,JAME,James,Henry,M,1843-04-15,United States,"New York, New York",1916-02-28,"England, United Kingdom","Chelsea, London",American,NaN
13,MONT,Montgomery,Lucy Maud,F,1874-11-30,Canada,"New London, Prince Edward Island",1942-04-24,Canada,"Toronto, Ontario",Canadian,NaN
14,WAUG,Waugh,Evelyn,M,1903-10-28 00:00:00,"England, United Kingdom","West Hampstead, London",1966-04-10,"England, United Kingdom","Combe Florey, Somerset","British, English",NaN
15,WELL,Wells,Herbert George,M,1866-09-21,"England, United Kingdom","Bromley, London",1946-08-13,"England, United Kingdom","Regents Park, London","British, English",NaN
16,WHAR,Wharton,Edith,F,1862-01-24,United States,"New York, New York",1937-08-11,France,Saint-Brice-sous-Foret,American,NaN
17,WILD,Wilde,Oscar,M,1854-10-16,Ireland,Dublin,1900-11-30,France,Paris,Irish,NaN
18,WOOL,Woolf,Virginia,F,1882-01-25,"England, United Kingdom","Kensington, London",1941-03-28,"England, United Kingdom","Lewes, East Sussex, London","British, English",NaN

## Read quotation information

Novel: A Handful of Dust
Folder Name: AHandfulOfDust

In [36]:
quote_info = pd.read_csv('data/AHandfulOfDust/quotation_info.csv')

In [53]:
quote_info.head(10)

,quoteID,quoteText,subQuotationList,quoteByteSpans,speaker,addressees,quoteType,referringExpression,mentionTextsList,mentionSpansList,mentionEntitiesList
0,Q0,Was anyone hurt?,['Was anyone hurt?'],"[[36, 52]]",John Beaver,['Mrs. Beaver'],Implicit,NaN,[[]],[[]],[[]]
1,Q1,"No one, I am thankful to say, except two house...","['No one, I am thankful to say,', 'except two ...","[[56, 85], [105, 661]]",Mrs. Beaver,['John Beaver'],Explicit,said Mrs Beaver,"[[], ['Sylvia\nNewport', 'Mrs Shutter']]","[[], [[549, 563], [635, 646]]]","[[], [['Sylvia Newport'], ['Mrs Shutter']]]"
2,Q2,"Heavens, how nasty this stuff is. I wish you'd...","[""Heavens, how nasty this stuff is. I wish you...","[[806, 959]]",Mrs. Beaver,['John Beaver'],Implicit,NaN,"[['you', 'John', 'You']]","[[[847, 850], [865, 869], [871, 874]]]","[[['John Beaver'], ['John Beaver'], ['John Bea..."
3,Q3,"But, mumsy, I haven't as much to do as you have.","[""But, mumsy, I haven't as much to do as you h...","[[963, 1011]]",John Beaver,['Mrs. Beaver'],Implicit,NaN,"[['mumsy', 'you']]","[[[968, 973], [1002, 1005]]]","[[['Mrs. Beaver'], ['Mrs. Beaver']]]"
4,Q4,"That's true, my son.","[""That's true, my son.""]","[[1015, 1035]]",Mrs. Beaver,['John Beaver'],Implicit,NaN,[['my son']],"[[[1028, 1034]]]",[[['John Beaver']]]
5,Q5,What was your evening?,['What was your evening?'],"[[3299, 3321]]",Mrs. Beaver,['John Beaver'],Implicit,NaN,[['your ']],"[[[3308, 3313]]]",[[['John Beaver']]]
6,Q6,Audrey rang up at eight and asked me to dinner...,['Audrey rang up at eight and asked me to dinn...,"[[3325, 3486]]",John Beaver,['Mrs. Beaver'],Implicit,NaN,"[['Audrey', 'a\nwoman called de Trommet']]","[[[3325, 3331], [3460, 3485]]]","[[['Audrey'], ['De Trommet']]]"
7,Q7,I know who you mean. American. She hasn't paid...,"[""I know who you mean. American. She hasn't pa...","[[3490, 3695]]",Mrs. Beaver,['John Beaver'],Implicit,NaN,"[['you', 'She', 'we', 'her']]","[[[3501, 3504], [3521, 3524], [3572, 3574], [3...","[[['John Beaver'], ['De Trommet'], ['John Beav..."
8,Q8,Poor mumsy.,['Poor mumsy.'],"[[3699, 3710]]",John Beaver,['Mrs. Beaver'],Implicit,NaN,[['mumsy']],"[[[3704, 3709]]]",[[['Mrs. Beaver']]]
9,Q9,I'm lunching at Viola Chasm's. What are you do...,"[""I'm lunching at Viola Chasm's. What are you ...","[[3714, 3806]]",Mrs. Beaver,['John Beaver'],Implicit,NaN,[['you']],"[[[3754, 3757]]]",[[['John Beaver']]]

Let us look at the first quotation

In [39]:
for field, value in quote_info.iloc[0].items():
    print(field+":")
    print(value)
    print()

quoteID:
Q0

quoteText:
Was anyone hurt?

subQuotationList:
['Was anyone hurt?']

quoteByteSpans:
[[36, 52]]

speaker:
John Beaver

addressees:
['Mrs. Beaver']

quoteType:
Implicit

referringExpression:
nan

mentionTextsList:
[[]]

mentionSpansList:
[[]]

mentionEntitiesList:
[[]]

This is an implicit quotation, without a referring expression to indicate the speaker.

#### Sub-quotations

# Now let us look at the second quotation:

In [49]:
for field, value in quote_info.iloc[1].items():
    print(field+":")
    print(value)
    print()

quoteID:
Q1

quoteText:
No one, I am thankful to say, except two housemaids
who lost their heads and jumped through a glass roof into the paved
court. They were in no danger. The fire never reached the bedrooms, I am
afraid. Still, they are bound to need doing up, everything black with
smoke and drenched in water and luckily they had that old-fashioned sort
of extinguisher that ruins _everything_. One really cannot complain. The
chief rooms were _completely_ gutted and everything was insured. Sylvia
Newport knows the people. I must get on to them this morning before that
ghoul Mrs Shutter snaps them up.

subQuotationList:
['No one, I am thankful to say,', 'except two housemaids\nwho lost their heads and jumped through a glass roof into the paved\ncourt. They were in no danger. The fire never reached the bedrooms, I am\nafraid. Still, they are bound to need doing up, everything black with\nsmoke and drenched in water and luckily they had that old-fashioned sort\nof extinguisher that ruins _everything_. One really cannot complain. The\nchief rooms were _completely_ gutted and everything was insured. Sylvia\nNewport knows the people. I must get on to them this morning before that\nghoul Mrs Shutter snaps them up.']

quoteByteSpans:
[[56, 85], [105, 661]]

speaker:
Mrs. Beaver

addressees:
['John Beaver']

quoteType:
Explicit

referringExpression:
said Mrs Beaver

mentionTextsList:
[[], ['Sylvia\nNewport', 'Mrs Shutter']]

mentionSpansList:
[[], [[549, 563], [635, 646]]]

mentionEntitiesList:
[[], [['Sylvia Newport'], ['Mrs Shutter']]]

This quotation is separated by it's referring expression into two sub-quotations. The first sub-quotation spans character bytes 56 to 85 in the novel text, and the second, spans 105 to 661.

In [50]:
with open('data/AHandfulOfDust/novel_text.txt', 'r') as f:
    ntext = f.read().strip()

In [51]:
print(ntext[56:85])

No one, I am thankful to say,

In [52]:
print(ntext[105:661])

except two housemaids
who lost their heads and jumped through a glass roof into the paved
court. They were in no danger. The fire never reached the bedrooms, I am
afraid. Still, they are bound to need doing up, everything black with
smoke and drenched in water and luckily they had that old-fashioned sort
of extinguisher that ruins _everything_. One really cannot complain. The
chief rooms were _completely_ gutted and everything was insured. Sylvia
Newport knows the people. I must get on to them this morning before that
ghoul Mrs Shutter snaps them up.

The first sub-quotation has no annotated mentions. The second has two: Sylvia Newport and Mrs Shutter.

#### Multiple mentions

In [54]:
for field, value in quote_info.iloc[7].items():
    print(field+":")
    print(value)
    print()

quoteID:
Q7

quoteText:
I know who you mean. American. She hasn't paid for the toile-de-jouy
chair covers we made her last April. I had a dull time too; didn't hold
a card all the evening and came away four pounds ten to the bad.

subQuotationList:
["I know who you mean. American. She hasn't paid for the toile-de-jouy\nchair covers we made her last April. I had a dull time too; didn't hold\na card all the evening and came away four pounds ten to the bad."]

quoteByteSpans:
[[3490, 3695]]

speaker:
Mrs. Beaver

addressees:
['John Beaver']

quoteType:
Implicit

referringExpression:
nan

mentionTextsList:
[['you', 'She', 'we', 'her']]

mentionSpansList:
[[[3501, 3504], [3521, 3524], [3572, 3574], [3580, 3583]]]

mentionEntitiesList:
[[['John Beaver'], ['De Trommet'], ['John Beaver', 'Mrs Beaver'], ['De Trommet']]]

Here, notice that the third annotated mention, "we", refers to two characters, John Beaver and Mrs Beaver.

## Character Information

In [57]:
char_info = pd.read_csv('data/AHandfulOfDust/character_info.csv')

In [59]:
char_info.head(10)

,Character ID,Main Name,Aliases
0,0,A Coloured Archdeacon,"['The Coloured Archdeacon', 'A Coloured Archde..."
1,1,A Little Old Woman,['A Little Old Woman']
2,2,Agnes,['Agnes']
3,3,Allan,['Allan']
4,4,Ambrose,['Ambrose']
5,5,John,"['John Beaver', ""Mrs Beaver'S Son"", 'John', 'B..."
6,6,Ben,"['Ben', 'Ben Hacket', 'Mr Hacket', 'Mr. Hacket']"
7,7,Brenda,"['Lady Brenda', 'Brenda']"
8,8,Daisy,['Daisy']
9,9,Dr Mesinger,"['Dr Messinger', 'Dr Mesinger']"

In [60]:
for key, val in char_info.iloc[5].items():
    print(key+":")
    print(val)
    print()

Character ID:
5

Main Name:
John

Aliases:
['John Beaver', "Mrs Beaver'S Son", 'John', 'Beaver', 'The Voice', 'Mr. Beaver']